@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Custom animation delay utilities */
.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-500 {
  animation-delay: 500ms;
}

.animation-delay-700 {
  animation-delay: 700ms;
}

.animation-delay-900 {
  animation-delay: 900ms;
}

.animation-delay-1000 {
  animation-delay: 1000ms;
}

.animation-delay-1100 {
  animation-delay: 1100ms;
}

.animation-delay-1300 {
  animation-delay: 1300ms;
}

.animation-delay-1500 {
  animation-delay: 1500ms;
}

.animation-delay-1700 {
  animation-delay: 1700ms;
}

.animation-delay-2000 {
  animation-delay: 2000ms;
}
