Hello {{ user.get_full_name|default:user.username }},

You're receiving this email because you requested a password reset for your Adlaan account.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you didn't request this password reset, please ignore this email. Your password won't change until you access the link above and create a new one.

Your username, in case you've forgotten: {{ user.get_username }}

Thanks for using Adlaan!
The Adlaan Team

---
This email was sent from an automated system. Please do not reply to this email.

If you're having trouble clicking the "Reset Password" link, copy and paste the URL below into your web browser:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}